@font-face {
    font-family: 'SF Compact Display';
    font-style: normal;
    font-weight: 200;
    src: local('SF Compact Display Thin'),
        url('/fonts/SF-Compact-Display-Thin.woff2') format('woff2'),
        url('/fonts/SF-Compact-Display-Thin.woff') format('woff'),
        url('/fonts/SF-Compact-Display-Thin.ttf') format('ttf'),
        url('/fonts/SF-Compact-Display-Thin.otf') format('otf'),
        url('/fonts/SF-Compact-Display-Thin.eot') format('eot'),
        url('/fonts/SF-Compact-Display-Thin.svg') format('svg');
}

@font-face {
    font-family: 'SF Compact Display';
    font-style: normal;
    font-weight: 500;
    src: local('SF Compact Display Medium'),
        url('/fonts/SF-Compact-Display-Medium.woff2') format('woff2'),
        url('/fonts/SF-Compact-Display-Medium.woff') format('woff'),
        url('/fonts/SF-Compact-Display-Medium.ttf') format('ttf'),
        url('/fonts/SF-Compact-Display-Medium.otf') format('otf'),
        url('/fonts/SF-Compact-Display-Medium.eot') format('eot'),
        url('/fonts/SF-Compact-Display-Medium.svg') format('svg');
}

@font-face {
    font-family: 'SF Compact Display';
    font-style: normal;
    font-weight: 600;
    src: local('SF Compact Display Semibold'),
        url('/fonts/SF-Compact-Display-Semibold.woff2') format('woff2'),
        url('/fonts/SF-Compact-Display-Semibold.woff') format('woff'),
        url('/fonts/SF-Compact-Display-Semibold.ttf') format('ttf'),
        url('/fonts/SF-Compact-Display-Semibold.otf') format('otf'),
        url('/fonts/SF-Compact-Display-Semibold.eot') format('eot'),
        url('/fonts/SF-Compact-Display-Semibold.svg') format('svg');
}

body {
    font-family: SF Compact Display;
}

.section {
    height: 100vh;
    background-color: #020202;
    background-image: url(img/volcan\(1\).jpg);
    background-position-y: 65%;
    background-position-x: center;
    background-repeat: no-repeat;
}

.logo2_white {
    height: 40px;
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
}

.menu_but {
    height: 40px;
    width: 40px;
    margin: 10px 15px 10px 0px;
    display: flex;
    justify-content: center;
}

.header {
    border-radius: 0px;
}

.navbar {}

.navbar-expand-lg {
    display: none;
}

.navbar-light {
    display: block;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 14px;
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    width: 40px;
    height: 40px;
    background-image: url(img/mobile_menu.png);
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.7);
    z-index: 100;
}

.navbar-nav .nav-link {
    display: block;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.disabled {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.228706px;
    color: #F9B341;
}

.text__logo-1 {
    background: linear-gradient(180deg, #FCF2C1 0%, rgba(241, 123, 82, 0.859413) 83.36%, rgba(234, 39, 3, 0.76) 100%),
        linear-gradient(0deg, #F58E2F, #F58E2F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    position: absolute;
    left: calc((100% - 312px)/2);
    top: calc((4% * 2) * 2);
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: -0.228706px;
    width: 312px;
}

.text__logo-2 {
    display: none;
}

.BUTTON_pos {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10%;
    height: 44px;
    background-color: #020202;
}

.BUTTON_CTA {
    position: relative;
    top: 0%;
    bottom: 0%;
    height: 44px;
    width: 327px;
    border: 1px solid #F9B341;
    filter: drop-shadow(-2px -4px 20px rgba(255, 255, 255, 0.2)), drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    background-color: #020202;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #FFF38F;
}

.BUTTON_CTA:active {
    background: #FFF38F;
    color: #000614;
}

.slider-mob {
    height: 13px;
    position: absolute;
    bottom: 4.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desk {
    display: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: none;
    }

    .navbar-light .navbar-toggler-icon {
        display: block;
        background-image: url(img/mobile_menu.png);
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}

/* ////////  IMOVA.HTML styles  //////// */

.map-menu-1 {
    height: 50px;
    margin: 33px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.map-menu-2 {
    height: 50px;
    width: 253.14px;
    margin: 0px 13.09px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
    width: 200px;
    margin: 0px 0px 0px 0px;
}

.back__arrow {
    height: 40px;
    width: 40px;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    background-color: #020202;
}

.back__arrow_btn {
    display: flex;
    justify-content: center;
    background-color: #020202;
    border: 0;
}

.back__arrow_img {
    position: absolute;
    width: 18.49px;
    height: 19.47px;
    margin-left: 10.88px;
    margin-top: 10.15px;
    background: linear-gradient(90deg, #FFFFFF 15.32%, rgba(255, 255, 255, 0) 100%), #F9B341;
}

.filter {
    width: 40px;
    margin: 5px 14px 5px 0px;
}

.map {
    min-width: 320px;
    min-height: 425px;
    display: flex;
    background-image: url(img/map\ 4.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    margin: 25.32px 22px 90.68px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_big {
    display: none;
}

.heading-um {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.228706px;
    color: #F58E2F;
    margin: 0px 0px 0px 0px;
    width: 340px;
}

#triangle {
    position: relative;
    width: 13.34px;
    height: 11.01px;
    left: 150px;
    top: -311px;
    border-bottom: 10px solid #F58E2F;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

@media (min-width: 520px) {
    .heading {
        width: 400px;
    }

    .heading-um {
        width: 465px;
    }
}

/* ////// End fo IMOVA Styles /////////// */

@media (min-width: 1024px) {

    .section {
        background-color: #020202;
        background-image: url(img/volcan_desk.png);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;

    }

    .header {
        height: 160px;
        padding-top: 0px;
    }

    .container-fluid {
        padding-left: 0;
    }

    .logo__desk {
        width: 160px;
    }

    .right__space {
        width: 160px;
    }

    .logo2_white {
        height: 40px;
        width: 160px;
        margin: 50px 0px 50px 0px;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        height: 160px;
        padding-left: 3.33%;
        padding-right: 3.33%;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        padding-right: 160px;
        border-bottom: 1px solid;
        border-image: linear-gradient(to left, rgba(249, 179, 65, 1), rgba(255, 255, 255, 1)) 100% 0%;
    }

    .navbar-expand-lg .navbar-collapse {
        padding-left: 19%;
        padding-right: 19%;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .right__space {
        width: 160px;
        padding-right: 61px;
    }

    .line {
        height: 2px;
        display: flex;
        padding-left: 3.33%;
        padding-right: 3.33%;
    }

    .line__img {
        width: 100%;
    }

    .navbar-expand-lg {
        display: block;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        display: block;
    }

    .navbar-expand-lg .navbar-nav {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.228706px;
        color: #F9B341;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #F9B341;
        border-bottom: 1px solid #F9B341;
    }

    .text__logo-2 {
        background: linear-gradient(180deg, #FCF2C1 0%, rgba(241, 123, 82, 0.859413) 83.36%, rgba(234, 39, 3, 0.76) 100%),
            linear-gradient(0deg, #F58E2F, #F58E2F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        margin: 20px auto;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 57px;
        letter-spacing: -0.228706px;
        margin-top: 110px;
        height: 57px;
        width: 312px;
    }

    .text__logo-1 {
        display: none;
    }

    .BUTTON_pos {
        bottom: 15%;
    }

    .BUTTON_CTA {
        width: 202px;
        height: 48px;
    }

    .mob {
        display: none;
    }

    .rectangle {
        height: 12px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .slider-desk {
        position: absolute;
        bottom: 4.5%;
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ellipse {
        margin-left: 25px;
        margin-right: 25px;
    }


    /* ////////  IMOVA.HTML styles  //////// */

    .map-menu-1 {
        height: 50px;
        margin: 33px 0px 30px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .map-menu-2 {
        height: 50px;
        width: 253.14px;
        margin: 0px 13.09px 0px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .heading {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        color: #FFFFFF;
        width: 200px;
        margin: 0px 0px 0px 0px;
    }

    .back__arrow {
        height: 40px;
        width: 40px;
        margin-left: 14px;
        display: flex;
        justify-content: center;
        background-color: #020202;
    }

    .back__arrow_btn {
        display: flex;
        justify-content: center;
        background-color: #020202;
        border: 0;
    }

    .back__arrow_img {
        position: absolute;
        width: 18.49px;
        height: 19.47px;
        margin-left: 10.88px;
        margin-top: 10.15px;
        background: linear-gradient(90deg, #FFFFFF 15.32%, rgba(255, 255, 255, 0) 100%), #F9B341;
    }

    .filter {
        width: 40px;
        margin: 5px 14px 5px 0px;
    }

    .map {
        width: 100%;
        min-width: 320px;
        min-height: 425px;
        display: flex;
        background-image: url(img/map\ 4\ \(2\).png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .text {
        display: none;
    }

    .text_big {
        margin: 25.32px 22px 90.68px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 57px;
    }

    .heading-um {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.228706px;
        color: #F58E2F;
        margin: 0px 0px 0px 0px;
        width: 340px;
    }

    #triangle {
        position: relative;
        width: 13.34px;
        height: 11.01px;
        left: 150px;
        top: -311px;
        border-bottom: 10px solid #F58E2F;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    @media (min-width: 520px) {
        .heading {
            width: 400px;
        }

        .heading-um {
            width: 465px;
        }
    }

    /* ////// End fo IMOVA Styles /////////// */


}